#LeftGreyBox {
    background-color: rgb(206, 204, 204);
    height: 300px;
    width: 240px;
    margin-left: 70px;
    margin-top: 70px;
}

#ToggleColorsButton {
    background-color: cyan;
    height: 30px;
    width: 80px;
}

body {
    margin: 0;
}

#RightGreyBox {
    background-color: rgb(206, 204, 204);
    height: 110px;
    width: 260px;
    margin-top: 140px;
}

#writeUser {
    background-color: white;
    width: 90px;
}

#greenbutton {
    background-color: green;
    height: 30px;
}

#redbutton {
    background-color: red;
    height: 30px;
}

#userlistitem {
    background-color: ivory;
    height: 30px;
    width: 80px;
}