#LeftGreyBox {
    background-color: rgb(229, 226, 226);
    height: 300px;
    width: 240px;
    margin-left: 70px;
    margin-top: 70px;
    padding: 10px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

li {
    background-color: white;
    padding: 1px;
    margin-bottom: 4px;
    text-align: center;
    border-radius: 4px;
}

#ToggleColorsButton {
    background-color: rgb(58, 191, 199);
    height: 30px;
    width: 230px;
    border-style: none;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
}

h4 {
    color: white;
    margin: 2px;
}

body {
    margin: 0;
}

#RightGreyBox {
    background-color: rgb(229, 226, 226);
    height: 80px;
    width: 260px;
    margin-top: -320px;
    margin-left: 380px;
    padding: 10px;
    border-radius: 10px;
}

#writeUser {
    background-color: white;
    width: 250px;
    border-style: none;
    margin-bottom: 7px;
    height: 30px;
}

#greenbutton {
    background-color: rgb(0, 191, 35);
    height: 30px;
    border-style: none;
    border-radius: 4px;
    margin-right: 3px;
    cursor: pointer;
}

#redbutton {
    background-color: red;
    height: 30px;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}

#userlistitem {
    background-color: ivory;
    border: 3px solid gray;
    height: 30px;
    width: 90px;
    border-radius: 4px;
    margin-bottom: 9px;
}
